@import "../../variables.scss";
a {
  color: white !important;
}
a.active {
  color: theme-color("primary") !important;
}

a:hover {
  color: theme-color("primary") !important;
  transition: 0.4s ease-in;
  box-sizing: border-box;
  background: transparent !important;
}

.dropdown-item {
  color: white;
}

.dropdown-menu {
  border: 1px solid theme-color("primary");
}

.brand {
  font-family: $brand-font;
}

.profile-dropdown {
  width: 100%;
}

@media (min-width: 500px) {
  .profile-dropdown {
    width: 75%;
  }
}
