/* make the customizations */
// $theme-colors: (
//   "primary": #ff00d8
// );

@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Lobster");

$theme-colors: (
  "primary": #05c1ff
);

$primary-font: "Oswald", cursive !important;
$brand-font: "Lobster", cursive !important;

.header {
  font-family: $primary-font;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
